<div class="container">
    <form action="/scrape/" method="GET">
        <button type="submit" class="btn btn-primary" style="display: block; margin-left:auto; margin-right:auto">
            Scrape Articles
        </button>
    </form>
    <form action="/clear/" method="POST">
        <button type="submit" class="btn btn-danger" style="display: block; margin-left:auto; margin-right:auto">
            Clear Articles
        </button>
    </form>
    <ul>
        <div class="row">
            {{!-- creates list item for each object in articles array --}}
            {{#each articles}}
            <li class="col-6" style="list-style: none">
                <div class="card" style="width: 20rem; margin-top: 2rem">
                    <a href={{link}}>
                        <img class="card-img-top" src={{imageUrl}}>
                    </a>
                    <div class="card-body">
                        <a href={{link}} style="color: black">
                            <h5 class="card-title">
                                {{title}}
                            </h5>
                        </a>
                        <p class="card-text">
                            {{summary}}
                        </p>
                        <form action="/articles/{{_id}}/" method="GET">
                            <input style="padding: 4px; margin-bottom: 1rem" type="text" placeholder="Comment"
                                name="body">
                            <button type="submit" class="btn btn-primary">See Comments</button>
                            <button type="submit" class="btn btn-primary" formmethod="POST">Submit</button>
                        </form>
                    </div>
                </div>
            </li>
            {{/each}}
        </div>
    </ul>
</div>